body {
  font-family: 'Monda', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: #f1f1f1;*/
}

html {
  width: 100%;
  height: 100%;
}

.intro-body {
  text-align: center;
}

.about-index-section{
}
.about-index-section .wrapper{
  border: 1px solid #e6e2da;
  height: 100%
}
.about-index-section .content{
  /*background-color: #f1ede6; height:100%;*/
  height:100%;
  margin: 5px 5px;
}

.what-do-i-do-index-section{
  border: 1px solid #cfded9;
}
.what-do-i-do-index-section .content{
  /*background-color: #dbeae5; height:100%;*/
  height:100%;
}

.social-links a{
  margin-left: 10px;
  color: black;
}

.introduction-section {
  height: 100%;
}
